.sampleA,
.sampleB {
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sampleA {
    background-color: red;
}

.sampleB {
    background-color: blue;
}

#sampleController {
    width: 360px;
    margin: 10px 0;
    text-align: center;
}

#sampleOutput {
    width: 300px;
    padding: 30px;
    font-size: 30px;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
}
